In [ ]:
import requests
import pandas as pd
import numpy as np
import json
import time
import os

Nesse script, iremos capturar dados faltantes do nosso dataset, como nome fantasia, razão social, ddd1 e telefone1, ddd2 telefone2, dddfax fax, e-mail.

- Chame a função **<i>captura_dados_faltantes_api(nome_do_arquivo)</i>** na qual o nome do arquivo deve ser do tipo "condominios.csv"
- A função irá exportar um arquivo csv com o mesmo nome do arquivo concatenado com "incrementado_"
- Ex.: chamando a função -> **<i>captura_dados_faltantes_api("condominios_total_parte1.csv")</i>** o arquivo exportado será -> **<i>incrementado_condominios_total_parte1.csv</i>**

In [2]:
def captura_dados_faltantes_api(nome_do_arquivo):
    dataset = pd.read_csv((nome_do_arquivo), dtype=str, encoding='latin1') #carregando csv do dataset
    dataset.insert(2, 'razao_social', np.nan) #adicao de coluna razao_social

    cnpjs_para_consulta = dataset["cnpj"].str.replace('/', '').str.replace('-', '') #removendo / e - dos cnpj para consultar

    for i in range(0, dataset.shape[0]):
        cnpj = cnpjs_para_consulta[i] #cnpj do registro atual do loop
        dados_cnpj = requests.get(f"https://publica.cnpj.ws/cnpj/{cnpj}") #consulta na api
        empresa = dados_cnpj.json() #dados json da empresa relacionada ao cnpj

        razao_social = empresa["razao_social"]
        nome_fantasia = empresa["estabelecimento"]["nome_fantasia"]
        ddd1 = empresa["estabelecimento"]["ddd1"]
        telefone1 = empresa["estabelecimento"]["telefone1"]
        ddd2 = empresa["estabelecimento"]["ddd2"]
        telefone2 = empresa["estabelecimento"]["telefone2"]
        ddd_fax = empresa["estabelecimento"]["ddd_fax"]
        fax = empresa["estabelecimento"]["fax"]
        email = empresa["estabelecimento"]["email"]

        #a logica desses try catch é: se no dataset o dado é "vazio" NaN,
        # então verificamos se o dado vindo da consulta não é vazio, e então atribuimos o dado
        try:
            np.isnan(dataset["razao_social"][i])
            if(razao_social == None):
                pass
            else:
                dataset["razao_social"][i] = razao_social
        except:
            pass

        try:
            np.isnan(dataset["nome_fantasia"][i])
            if(nome_fantasia == None):
                pass
            else:
                dataset["nome_fantasia"][i] = nome_fantasia
        except:
            pass

        try:
            np.isnan(dataset["ddd1"][i])
            if(ddd1 == None):
                pass
            else:
                dataset["ddd1"][i] = ddd1
        except:
            pass

        try:
            np.isnan(dataset["telefone1"][i])
            if(telefone1 == None):
                pass
            else:
                dataset["telefone1"][i] = telefone1
        except:
            pass

        try:
            np.isnan(dataset["ddd2"][i])
            if(ddd2 == None):
                pass
            else:
                dataset["ddd2"][i] = ddd2
        except:
            pass

        try:
            np.isnan(dataset["telefone2"][i])
            if(telefone2 == None):
                pass
            else:
                dataset["telefone2"][i] = telefone2   
        except:
            pass

        try:
            np.isnan(dataset["ddd_fax"][i])
            if(ddd_fax == None):
                pass
            else:
                dataset["ddd_fax"][i] = ddd_fax
        except:
            pass

        try:
            np.isnan(dataset["fax"][i])
            if(fax == None):
                pass
            else:
                dataset["fax"][i] = fax
        except:
            pass

        try:
            np.isnan(dataset["email"][i])
            if(email == None):
                pass
            else:
                dataset["email"][i] = email
        except:
            pass


        time.sleep(21)
    

    dataset.to_csv("incrementado_"+nome_do_arquivo, index=False, encoding='latin1')

In [10]:
dataset = pd.read_csv("condominios_total.csv", dtype=str, encoding='latin1')
dataset_test = dataset[:5]
dataset_test.to_csv("dataset_test.csv", index=False, encoding='latin1')

In [9]:
captura_dados_faltantes_api("dataset_test.csv")

C:\Users\eduar\AppData\Local\Temp\ipykernel_17292\1405418780.py:29: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset["razao_social"][i] = razao_social
C:\Users\eduar\AppData\Local\Temp\ipykernel_17292\1405418780.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["razao_social"][i] = razao_social
C:\Users\eduar\AppData\Local\Temp\ipykernel_17292\1405418780.py:29: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'EDIFICIO VILLA SERENA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset["razao_social"][i] = razao_social

### Testes de código

In [ ]:
dataset = pd.read_csv("condominios_total.csv", dtype=str, encoding='latin1')
dataset.insert(2, 'razao_social', np.nan)
dataset

#repartindo o dataset em 2 partes
condominio_total_parte1 = dataset[:int(len(dataset)/2)]
condominio_total_parte2 = dataset[int(len(dataset)/2) : len(dataset)]

condominio_total_parte1.to_csv("condominios_total_parte1.csv", index=False, encoding='latin1')
condominio_total_parte1.to_csv("condominios_total_parte2.csv", index=False, encoding='latin1')

,cnpj,matriz_filial,razao_social,nome_fantasia,sit_cadast,data_sit_cadast,motivo_sit_cadast,nome_cidade_exterior,pais,data_inicio,...,cep,uf,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,email
0,22157373/0001-03,1,NaN,NaN,02,04/09/2014,00,NaN,NaN,04/09/2014,...,60762418,CE,1389,85,88172587,NaN,NaN,85,34892381,EDIFICIOVILLASERENA@GMAIL.COM
1,08448393/0001-02,1,NaN,NaN,02,08/11/2006,00,NaN,NaN,08/11/2006,...,60190750,CE,1389,85,32835360,85,32835360,85,32835360,pmvettor@ig.com.br
2,26073984/0001-24,1,NaN,AR1 SOLUCOES,04,20/03/2019,63,NaN,NaN,30/08/2016,...,60712055,CE,1389,85,98779847,NaN,NaN,NaN,NaN,NaN
3,26130593/0001-02,1,NaN,CONDOMINIO RESIDENCIAL MONTEIRO LOBATO,02,10/06/2016,00,NaN,NaN,10/06/2016,...,60840435,CE,1389,85,32446468,NaN,NaN,NaN,NaN,GERENCIA@BANCODCONDOMINIOS.COM
4,26186449/0001-80,1,NaN,CONDOMINIO RESIDENCIAL CASTRO ALVES,02,23/06/2016,00,NaN,NaN,23/06/2016,...,60872564,CE,1389,85,32446468,NaN,NaN,NaN,NaN,GERENCIA@BANCODECONDOMINIOS.COM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,25175204/0001-94,1,NaN,COND MAGNA VILLARIS I,02,09/10/2014,00,NaN,NaN,09/10/2014,...,60873010,CE,1389,85,87037616,NaN,NaN,NaN,NaN,NaN
4740,25303440/0001-49,1,NaN,LIDIAPOLIS CONDOMINIUM,02,03/03/2016,00,NaN,NaN,03/03/2016,...,60160110,CE,1389,85,32580467,NaN,NaN,NaN,NaN,NaN
4741,22064390/0001-04,1,NaN,NaN,02,06/11/2014,00,NaN,NaN,06/11/2014,...,60320380,CE,1389,85,32526485,85,32526486,NaN,NaN,NaN
4742,19640169/0001-34,1,NaN,CONDOMINIO PATIO MESSEJANA,02,12/12/2013,00,NaN,NaN,12/12/2013,...,60872560,CE,1389,85,86702932,85,99949929,NaN,NaN,jurandi_almeida@yahoo.com.br
4743,19756118/0001-72,1,NaN,NaN,02,04/12/2013,00,NaN,NaN,04/12/2013,...,60115220,CE,1389,85,31337000,85,31337002,85,31337010,adm@metaservicos.com.br

In [4]:
cnpjs_para_consulta = dataset["cnpj"].str.replace('/', '').str.replace('-', '') #removendo / e - dos cnpj para consultar

In [9]:
for i in range(0, dataset20.shape[0]):
    cnpj = cnpjs_para_consulta[i]
    dados_cnpj = requests.get(f"https://publica.cnpj.ws/cnpj/{cnpj}")
    empresa = dados_cnpj.json()
    empresa

    razao_social = empresa["razao_social"]
    nome_fantasia = empresa["estabelecimento"]["nome_fantasia"]
    ddd1 = empresa["estabelecimento"]["ddd1"]
    telefone1 = empresa["estabelecimento"]["telefone1"]
    ddd2 = empresa["estabelecimento"]["ddd2"]
    telefone2 = empresa["estabelecimento"]["telefone2"]
    ddd_fax = empresa["estabelecimento"]["ddd_fax"]
    fax = empresa["estabelecimento"]["fax"]
    email = empresa["estabelecimento"]["email"]

    try:
        np.isnan(dataset20["razao_social"][i])
        if(razao_social == None):
            pass
        else:
            dataset20["razao_social"][i] = razao_social
    except:
        pass

    try:
        np.isnan(dataset20["nome_fantasia"][i])
        if(nome_fantasia == None):
            pass
        else:
            dataset20["nome_fantasia"][i] = nome_fantasia
    except:
        pass

    try:
        np.isnan(dataset20["ddd1"][i])
        if(ddd1 == None):
            pass
        else:
            dataset20["ddd1"][i] = ddd1
    except:
        pass

    try:
        np.isnan(dataset20["telefone1"][i])
        if(telefone1 == None):
            pass
        else:
            dataset20["telefone1"][i] = telefone1
    except:
        pass

    try:
        np.isnan(dataset20["ddd2"][i])
        if(ddd2 == None):
            pass
        else:
            dataset20["ddd2"][i] = ddd2
    except:
        pass

    try:
        np.isnan(dataset20["telefone2"][i])
        if(telefone2 == None):
            pass
        else:
            dataset20["telefone2"][i] = telefone2   
    except:
        pass

    try:
        np.isnan(dataset20["ddd_fax"][i])
        if(ddd_fax == None):
            pass
        else:
            dataset20["ddd_fax"][i] = ddd_fax
    except:
        pass

    try:
        np.isnan(dataset20["fax"][i])
        if(fax == None):
            pass
        else:
            dataset20["fax"][i] = fax
    except:
        pass

    try:
        np.isnan(dataset20["email"][i])
        if(email == None):
            pass
        else:
            dataset20["email"][i] = email
    except:
        pass


    time.sleep(21)

C:\Users\eduar\AppData\Local\Temp\ipykernel_5740\2385825668.py:22: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset20["razao_social"][i] = razao_social
C:\Users\eduar\AppData\Local\Temp\ipykernel_5740\2385825668.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset20["razao_social"][i] = razao_social
C:\Users\eduar\AppData\Local\Temp\ipykernel_5740\2385825668.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'EDIFICIO VILLA SERENA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset20["razao_social"][i] = razao_social

### Testes e exports para teste

In [6]:
dataset20 = dataset[:20]
dataset20.to_csv('./comparativo/dataset_original_20_registros.csv', index=False, encoding='latin1')

In [10]:
dataset20.to_csv('./comparativo/dataset_incrementado_20_registros.csv', index=False, encoding='latin1')