Para captar os condominios da cidade de fortaleza, a ideia consiste em:
 - Pegar os dados dos cnpj das empresas disponíveis no site da receita federal
 - A partir desses dados, filtrar pelo código da cidade de fortaleza e CNAE relativo a atitividade de condominio.

<u>código da cidade de fortaleza: 1389</u><br/>
<u>cnae da atividade de condominio: 8112500</u>

obs.: link para o mapeamento desse dataset [https://www.gov.br/receitafederal/dados/cnpj-metadados.pdf]

In [1]:
import requests
import numpy as np
import pandas as pd

In [ ]:
#nomes_colunas = ["cnpj_base", "cnpj_ordem", "cnpj_dig_ver", "matriz_filial", "nome_fantasia", "sit_cadast", "data_sit_cadast", "motivo_sit_cadast", "nome_cidade_exterior", "pais", "data_inicio", "cnae_principal", "cnae_secundaria", "logradouro", "rua", "numero", "complemento", "bairro", "cep", "uf", "municipio", "ddd1", "telefone1", "ddd2", "telefone2", "ddd_fax", "fax", "email", "unamed1", "unamed2"]

In [ ]:
#df_est = pd.read_csv('estabelecimentos.csv', sep=';', dtype=str, encoding='latin1', names=nomes_colunas)

In [ ]:
#df_est

,cnpj_base,cnpj_ordem,cnpj_dig_ver,matriz_filial,nome_fantasia,sit_cadast,data_sit_cadast,motivo_sit_cadast,nome_cidade_exterior,pais,...,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,email,unamed1,unamed2
0,07396865,0001,68,1,NaN,08,20170210,01,NaN,NaN,...,8297,47,33851125,47,33851125,47,33851125,NaN,NaN,NaN
1,64904295,0018,51,2,NaN,08,20161110,01,NaN,NaN,...,2785,11,36491000,31,33880436,82,33118379,CLAUDIO.GIGLIO@CAMIL.COM.BR,NaN,NaN
2,76016369,0003,16,2,NaN,04,20231113,63,NaN,NaN,...,7071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52302726,0001,82,1,NaN,04,20210406,63,NaN,NaN,...,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07396923,0001,53,1,NaN,08,20140115,01,NaN,NaN,...,7107,011,69658088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,25766012,0001,52,1,NaN,08,20161231,01,NaN,NaN,...,6751,0,0,NaN,NaN,17,32711604,jessica_r_campos@hotmail.com,NaN,NaN
4753431,37167381,0001,08,1,NaN,02,20221216,00,NaN,NaN,...,8073,47,99174631,NaN,NaN,NaN,NaN,GUDASGEISON69@GMAIL.COM,NaN,NaN
4753432,25766441,0001,20,1,NaN,08,20161231,01,NaN,NaN,...,5293,0,0,NaN,NaN,35,34118860,henrique@hotmail.com,NaN,NaN
4753433,25766662,0001,06,1,NaN,08,20161231,01,NaN,NaN,...,2875,0,0,NaN,NaN,82,35222010,alvescorreia@outlook.com,NaN,NaN
4753434,39116352,0001,42,1,NaN,08,20210228,01,NaN,NaN,...,0015,0,0,NaN,NaN,0,0,gabinetejoseaugusto@hotmail.com,NaN,NaN

In [ ]:
#df_est = df_est.drop(["unamed1", "unamed2"], axis=1)

In [ ]:
#df_est

,cnpj_base,cnpj_ordem,cnpj_dig_ver,matriz_filial,nome_fantasia,sit_cadast,data_sit_cadast,motivo_sit_cadast,nome_cidade_exterior,pais,...,cep,uf,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,email
0,07396865,0001,68,1,NaN,08,20170210,01,NaN,NaN,...,89136000,SC,8297,47,33851125,47,33851125,47,33851125,NaN
1,64904295,0018,51,2,NaN,08,20161110,01,NaN,NaN,...,57046000,AL,2785,11,36491000,31,33880436,82,33118379,CLAUDIO.GIGLIO@CAMIL.COM.BR
2,76016369,0003,16,2,NaN,04,20231113,63,NaN,NaN,...,11010141,SP,7071,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52302726,0001,82,1,NaN,04,20210406,63,NaN,NaN,...,13472080,SP,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07396923,0001,53,1,NaN,08,20140115,01,NaN,NaN,...,03165000,SP,7107,011,69658088,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,25766012,0001,52,1,NaN,08,20161231,01,NaN,NaN,...,15120000,SP,6751,0,0,NaN,NaN,17,32711604,jessica_r_campos@hotmail.com
4753431,37167381,0001,08,1,NaN,02,20221216,00,NaN,NaN,...,89460030,SC,8073,47,99174631,NaN,NaN,NaN,NaN,GUDASGEISON69@GMAIL.COM
4753432,25766441,0001,20,1,NaN,08,20161231,01,NaN,NaN,...,37950000,MG,5293,0,0,NaN,NaN,35,34118860,henrique@hotmail.com
4753433,25766662,0001,06,1,NaN,08,20161231,01,NaN,NaN,...,57275000,AL,2875,0,0,NaN,NaN,82,35222010,alvescorreia@outlook.com
4753434,39116352,0001,42,1,NaN,08,20210228,01,NaN,NaN,...,76890000,RO,0015,0,0,NaN,NaN,0,0,gabinetejoseaugusto@hotmail.com

Filtragem pelo CNAE 8112500

In [ ]:
#df_cnae = df_est[df_est["cnae_principal"] == '8112500']

Filtragem pelo Municipio de Fortaleza 1389

In [ ]:
#df_munic_cnae = df_cnae[df_cnae["municipio"] == '1389']

In [ ]:
#df_munic_cnae

,cnpj_base,cnpj_ordem,cnpj_dig_ver,matriz_filial,nome_fantasia,sit_cadast,data_sit_cadast,motivo_sit_cadast,nome_cidade_exterior,pais,...,cep,uf,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,email
5263,01663980,0001,75,1,CONDOMINIO INES BEZERRA,02,19980728,00,NaN,NaN,...,60125100,CE,1389,085,2613076,NaN,NaN,NaN,NaN,NaN
13480,04979374,0001,51,1,CONDOMINIO RESIDENCIAL FIRENZIE,02,20011220,00,NaN,NaN,...,60830690,CE,1389,085,2681413,NaN,NaN,NaN,NaN,NaN
15724,03342025,0001,61,1,EDIFICIO JK,02,19990723,00,NaN,NaN,...,60120140,CE,1389,85,2727762,NaN,NaN,NaN,NaN,NaN
16149,03388494,0001,11,1,NaN,02,19990901,00,NaN,NaN,...,60115190,CE,1389,085,2654717,NaN,NaN,NaN,NaN,NaN
19893,00072913,0001,13,1,NaN,02,20051103,00,NaN,NaN,...,60160230,CE,1389,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4564677,40082843,0001,07,1,NaN,02,20200814,00,NaN,NaN,...,60010590,CE,1389,85,88456171,85,33047671,33,047674,PINHOMORORO@BOL.COM.BR
4596872,40445599,0001,91,1,NaN,02,20201219,00,NaN,NaN,...,60748179,CE,1389,85,97788709,NaN,NaN,NaN,NaN,NaN
4663216,41151514,0001,25,1,NaN,02,20180830,00,NaN,NaN,...,60748445,CE,1389,85,97788709,NaN,NaN,NaN,NaN,NaN
4723774,41766962,0001,33,1,CONDOMINIO DO EDIFICIO SOBERANO VI,02,20200619,00,NaN,NaN,...,60325580,CE,1389,85,30336400,NaN,NaN,NaN,NaN,CONTABILIDADE-CE@NEWPRED.COM
4748422,35759376,0001,69,1,NaN,02,20130205,00,NaN,NaN,...,60310057,CE,1389,85,89934535,NaN,NaN,NaN,NaN,NaN

In [ ]:
#df_munic_cnae.to_csv(f"condominios{0}.csv", index=False)

Função geral para filtrar todos os arquivos de estabelecimentos

In [ ]:
def filtrar_cond_fortaleza_por_cnae(numero_arquivo): #obs.: o nome do aquivo tem que ser
    nomes_colunas = ["cnpj_base", "cnpj_ordem", "cnpj_dig_ver", "matriz_filial", "nome_fantasia", "sit_cadast", "data_sit_cadast", "motivo_sit_cadast", "nome_cidade_exterior", "pais", "data_inicio", "cnae_principal", "cnae_secundaria", "logradouro", "rua", "numero", "complemento", "bairro", "cep", "uf", "municipio", "ddd1", "telefone1", "ddd2", "telefone2", "ddd_fax", "fax", "email", "unamed1", "unamed2"]

    df_est = pd.read_csv(f"estabelecimentos{numero_arquivo}.csv", sep=';', dtype=str, encoding='latin1', names=nomes_colunas)

    df_est = df_est.drop(["unamed1", "unamed2"], axis=1) #dropando colunas vazias dos arquivos da receita federal
    
    df_cnae = df_est[df_est["cnae_principal"] == '8112500'] #filtrando o cnae de condominio

    df_munic_cnae = df_cnae[df_cnae["municipio"] == '1389'] #filtrando pelo codigo do municipio

    df_munic_cnae.to_csv(f"condominios{numero_arquivo}.csv", index=False)

    return df_munic_cnae

In [65]:
for i in range(1, 10):
    filtrar_cond_fortaleza_por_cnae(i)

Concatenação de todos os arquivos gerados de condomínios de fortaleza

In [67]:
lista_csv_cond = []
for i in range(0, 10):

    lista_csv_cond.append(f"condominios{i}.csv")

In [76]:
lista_df_cond = []
for i in range(0, 10):
    lista_df_cond.append(pd.read_csv(f"condominios{i}.csv"))

In [77]:
type(lista_df_cond[0])

pandas.core.frame.DataFrame

In [78]:
df_cond_final = pd.concat(lista_df_cond)

In [80]:
df_cond_final.to_csv("condominios_total.csv", index=False)

In [81]:
df_cond_final.shape

(4744, 28)